@font-face {
  font-family: 'LeviBrush';
  src:  url('../css/fonts/LeviBrush.ttf.woff') format('woff'),
  url('../css/fonts/LeviBrush.ttf.svg#LeviBrush') format('svg'),
  url('../css/fonts/LeviBrush.ttf.eot'),
  url('../css/fonts/LeviBrush.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* Elegant-font add */
@font-face{
  font-family: 'ElegantIcons';
  src: url('../css/fonts/ElegantIcons.woff') format('woff'),
  url('../css/fonts/ElegantIcons.ttf') format('ttf'),
  url('../css/fonts/ElegantIcons.svg') format('svg'),
  url('../css/fonts/ElegantIcons.eot') format('eot');
}


/* HELPER CLASS
 * -------------------------- */

/* FA based classes */

/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */

/* makes the font 33% larger relative to the icon container */

.pe-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.pe-2x {
  font-size: 2em;
}
.pe-3x {
  font-size: 3em;
}
.pe-4x {
  font-size: 4em;
}
.pe-5x {
  font-size: 5em;
}
.pe-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.pe-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.pe-ul > li {
  position: relative;
}
.pe-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.pe-li.pe-lg {
  left: -1.8571428571428572em;
}
.pe-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pe.pull-left {
  margin-right: .3em;
}
.pe.pull-right {
  margin-left: .3em;
}
.pe-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.pe-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.pe-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.pe-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.pe-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.pe-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.pe-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.pe-stack-1x,
.pe-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.pe-stack-1x {
  line-height: inherit;
}
.pe-stack-2x {
  font-size: 2em;
}
.pe-inverse {
  color: #ffffff;
}

/* Custom classes / mods - PIXEDEN */
.pe-va {
  vertical-align: middle;
}

.pe-border {
  border: solid 0.08em #eaeaea;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
  display: inline-block;
}

.after {
  position: absolute;
  content: " ";
  display: block;
}
a{
  font-size: $base-font-size;
  font-family: $opensans;
}

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active {
  box-shadow: none;
  outline: none;
}

.box-shadow {
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 0px 36.55px 6.45px rgba(0, 0, 0, 0.51);
}
//
//.overlay-bg-05 {
//  height: 100%;
//  width: 100%;
//  position: absolute;
//    background-color: rgb(33, 33, 33);
//    opacity: 0.588;
//}

.overlay-bg-07 {
  background-color: rgba(0, 0, 0, 0.71);
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

input,
textarea {
  @include input-placeholder {
    color: $black;
  }
}

@mixin padding($ptb , $plr) {
  padding: $ptb $plr;
}

@mixin btn($backgound,$color, $fsize, $ff, $fw,$width, $border_color, $h_bg, $h_color, $h_border_color ) {
  background-color: $backgound;
  color: $color;
  font-size: $fsize;
  font-family: $ff;
  font-weight: $fw;
  width: $width;
  border: 1px solid $border_color;
  display: block;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  &:hover, &:focus {
    background-color: $h_bg;
    color: $h_color;
    border-color: $h_border_color;
  }

}

.custom-btn {
  @include btn(red, green, 12px, $poppins, $regular, 100%, #ff3251, #000000, $white, #FFEF44);
  @include padding(15px, 20px);
}

@mixin top-title($font_size,$lh) {
  h2 {
    font-size: $font_size;
    line-height: $lh;
  }
}

.top-title {
  @include top-title(38px, 1.4);
}

.green-text {
  color: $light-green;
}

.red-text {
  color: $red-color;
}

.black-text {
  color: $black;
}
.dark-text{
  color: $black-light;
}

.white-text {
  color: $white;
}

.hover{
  &:hover,&:focus,&:active{
      color: $light-green;
}
}

.container {
  max-width: 1185px;
}
.mb-60{
  margin-bottom: 60px;
}
.mb-55{
  margin-bottom: 55px!important;
}
.pb-90{
  padding-bottom: 90px;
}
.pb-70 {
  padding-bottom: 70px !important;
}

.position-absolute{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
}
//background: url("#{$assetPath}/down-arrow.png") white no-repeat calc(100% - 15px) !important;
.top-title{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: url("#{$assetPath}/border-bottom.png") no-repeat;
    background-position: center center;
    background-size: auto;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    bottom: -40px;

  }

}


.load-more{
  @include btn(transparent, #3e3e3e, 14px, $opensans, $regular, auto,transparent , transparent, $light-green, #FFEF44);
  @include padding(0px, 0px);
  border: 0;
  display: inline-block;

  i{
    font-size: 30px;
  }
  margin: 16px 0;

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/down-arrow.png) white no-repeat 98.5% !important;
  background: url(../images/down-arrow.png) white no-repeat calc(100% - 15px) !important;
  cursor: pointer;
}
.order-count{
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/down-arrow.png) white no-repeat 98.5% !important;
    background: url(../images/down-arrow.png) white no-repeat calc(100% - 4px) !important;
    padding-right: 20px;
    cursor: pointer;

  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  margin: 0;
}


input[type=number] {-moz-appearance: textfield;}

.ui-widget-header .ui-icon{
  background-image: url("#{$assetPath}/ui-icons_444444_256x240.png");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon{
  background-image: url("#{$assetPath}/ui-icons_555555_256x240.png");
}
