@media (max-width: 767px) {
  .woocommerce table.shop_table tbody > tr:first-child > td {
    padding-top: 15px;
  }
  .woocommerce table.shop_table tbody > tr > td {
    padding: 15px 15px;
  }
  .wc-proceed-to-checkout .continue-shopping {
    margin-bottom: 20px;
  }

  .product-name a{
    min-width: 200px;
    display: block;
  }

  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  .gift-bag p {
    font-size: 12px;
    padding-top: 30px;
  }
  .gift-bag {
    padding: 30px 0;
    margin: 0 auto;
  }

  .about-content{
    padding: 30px 15px;
    margin: 0 auto;
  }
  .age-verify p {
    font-size: 13px;
  }
  .text-center-or {
    padding: 15px 0;
    display: block;
  }

  //.tab-content p {
  //  width: 147px !important;
  //}
  //.tab-content .table tbody>tr>td:first-child p {
  //  width: 60px !important;
  //}
  .order-content-box {
    padding: 30px 0;
  }

  .tab-content .table tbody > tr > td:last-child:before{
    right: 0;
  }

  .user-account .dropdown-menu:before {
    top: -6%;
  }
  .no-orders > ul.products li.product img {
   height: auto !important;
  }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .user-account {
    li {
      a > span {
        display: none;
      }
    }
  }



}
@media (max-width:320px) {

  .nav-tabs li, .user-account li {
    padding-right: 15px;
  }

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape){

  .recommended-product {
    padding: 30px 0 20px 0;
  }
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 23%;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products.columns-4 li.product:nth-child(4n) {
    margin: 0 0px 20px 0;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products.columns-4 li.product{
    margin: 0 12px 20px 0;
  }
  .no-orders > ul.products li.product img {
    height: 165px !important;
    margin-bottom: 7px!important;
  }

  woocommerce ul.products.columns-4 li.product h6, .woocommerce ul.products.columns-4  li.product .woocommerce-loop-product__title, .woocommerce ul.products.columns-4 li.product .woocommerce-loop-category__title {
    font-size: 12px;
  }


}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 23%;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products.columns-4 li.product:nth-child(4n) {
    margin: 0 0px 20px 0;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products.columns-4 li.product{
    margin: 0 12px 20px 0;
  }

  .no-orders > ul.products li.product img {
    height: 165px !important;
    margin-bottom: 7px!important;
  }
  woocommerce ul.products.columns-4 li.product h6, .woocommerce ul.products.columns-4  li.product .woocommerce-loop-product__title, .woocommerce ul.products.columns-4 li.product .woocommerce-loop-category__title {
    font-size: 12px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

  .woocommerce table.shop_table tbody > tr:first-child > td {
    padding-top: 15px;
  }
  .woocommerce table.shop_table tbody > tr > td {
    padding: 15px 15px;
  }
  .product-name a{
    min-width: 200px;
    display: block;
  }
  .recommended-product {
    padding: 20px 0 20px 0;
  }
  .woocommerce ul.products.columns-4  li.product, .woocommerce-page ul.products.columns-4 li.product {
    margin: 0 20px 20px 0;
  }
  woocommerce ul.products.columns-4 li.product h6, .woocommerce ul.products.columns-4  li.product .woocommerce-loop-product__title, .woocommerce ul.products.columns-4 li.product .woocommerce-loop-category__title {
    font-size: 14px;
  }


  .gift-bag p {
    padding-top: 15px;
    font-size: 13px;
  }
  .gift-bag {
    margin: 0 auto;
  }
  .about-content{
    padding-right: 0;
  }
  .about-content p {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .about-content h3 {
    margin-bottom: 10px;
  }
  .tab-content p{
    width:126px !important;
  }
  .tab-content .table tbody>tr>td:first-child p {
    width: 60px !important;
  }
  .tab-content .table tbody > tr > td:last-child:before{
    right: 0;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .gift-bag p {
    padding-top: 15px;
    font-size: 13px;
  }
  .gift-bag {
    margin: 0 auto;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) and (max-width: 1400px){

}



