@media (max-width: 767px) {
  .contactus-text p {
    font-size: 14px;
  }
  .social-section a {
    padding: 0 40px 0 0;
  }
  .upload-left-side{
    margin-bottom: 20px;
  }
  .upload-right-side {
    margin: 0 auto;
    width: 100%;
    height: 200px;
  }




}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .sing-up-nvigation ul .active {
    font-size: 20px;
  }
  .cart-nav ul li a {
    font-size: 18px;
  }

  .sing-up-nvigation{
    Padding:42px 0 52px 0;
    & ul{
      border-bottom: 0;
      & li a{
        border-bottom: 1px solid #BDBDBD;
        width: 100%;
      }

    }
  }
}
@media (max-width:320px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .sing-up-nvigation ul .active {
    font-size: 20px;
  }
  .cart-nav ul li a {
    font-size: 18px;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {



}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) and (max-width: 1400px) {

}