/* start header section */
.inner-header{
  background-color: $black;
 padding: 20px 0;

  ul.menu{
    li>a.nav-link{
      font-family: $roboto;
      font-weight: $bold;
    }
  }
}
/* ==========================================================================
  > .gift-bag start
  ========================================================================== */
.gift-bag{
   max-width: 500px;
   margin: 0 70px 0 auto;
  text-align: center;
  h5{
    text-transform: uppercase;
    color: rgb(52, 52, 52);
    font-size: 14px;
    line-height: 2.143;
    letter-spacing: 3px;
  }
  p{
    font-size: 16px;
    color: rgb(28, 28, 28);
    padding-top:40px;
    line-height: 1.875;
  }
  .top-title{
    margin-bottom: 28px;
    &:before{
      bottom: -38px;
    }
  }
}


.line-btn{
  @include btn(white, #254b25, 12px, $opensans, $regular, auto, transparent, transparent,  $light-green, transparent);
  @include padding(12px, 0px);
  border-top:1px solid green;
  border-bottom:1px solid green;
  font-weight: bold;
  color: #128712;
  max-width:145px;
  height:45px;
  margin: 0 auto 0 auto;
  font-size: 14px;
}
.line-btn:hover{
background-color: black;
  color:white;
}
/* start right section */

.section-right-image img{
 width: 100%;
}
.border-image{

}
/* ==========================================================================
>  .age-verify start
========================================================================== */

.age-verify{
  .age-verify-body{
    margin-top: 52px;
    margin-bottom: 52px;
  }
  h4{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
  }
  p{
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.2;
    margin-bottom: 57px;
  }

  .modal-content{
    border: none;
    border-radius: 0;
  }



}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(16, 16, 16, 0.78);
}

.enter-btn{
  @include btn(white, #254b25, 16px, $poppins, $regular, auto, transparent, transparent,  $light-green, transparent);
  @include padding(20px, 60px);
  border-top:2px solid green;
  border-bottom:2px solid green;
  font-weight: bold;
  color: green;
  margin: 0 auto 0 auto;
  text-align: center;
  display:inline-block;
}
.enter-btn:hover{
  background-color: black;
  color:white;
}
.exit-btn{
  @include btn(white, #254b25, 16px, $poppins, $regular, auto, transparent, transparent,  $light-green, transparent);
  @include padding(20px, 60px);
  border-top:2px solid red;
  border-bottom:2px solid red;
  font-weight: bold;
  color: red;
  margin: 0 auto 0 auto;
  text-align: center;
  display:inline-block;
}
.exit-btn:hover{
  background-color: black;
  color:white;
}
.text-center-or{
  color: rgba(0, 0, 0, 0.722);
  font-size: 16px;
}

/* ==========================================================================
  > start about us section
  ========================================================================== */
.img-centered-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: $roboto;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 54.27px rgba(0, 0, 0, 0.57);
  letter-spacing: 3px;
}

.about-content{
  max-width: 500px;
  margin: 0 0 0 auto;
  text-align: justify;
 padding-right:45px;

  h3{
  color: rgb(18, 135, 18);
  text-transform: uppercase;
    margin-bottom: 40px;
    font-family: $opensans;
  }
  p{
    font-size: 16px;
    color: rgb(67, 67, 67);
    font-family: 'Lato', sans-serif;
  }
}
/* ==========================================================================
  > start style of orders-section
  ========================================================================== */
.orders-section{
  position: relative;
  padding: 30px 0;
  h4{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
  }
  p{
    color:#999999;
    font-size: 14px;
    margin-bottom: 15px;

  }
}
.nav-tab{
  background-color: #f5f5f5;
 padding:14px 0;
}
.nav-tabs{
  border:none;
  &.float-left{
    margin-top: 5px;
  }
  li{
    padding-right: 40px;
    &:last-child{
      padding-right: 0;
    }
  }
  a{
    border:none;
    outline: none;
    color:#999999;
    font-family: $lat0;
     font-size: 14px;
    font-weight: $semi-bold;
    border-bottom:2px solid transparent;
  }
  a:hover{
    color:black;
  }
  li a.active{
    background-color:#f5f5f5;
    color:black;
    font-weight: bold;
    border-bottom:2px solid green;
    outline: none;
    font-weight: $bold;
  }
}
.user-account{
  @extend .nav-tabs;
  li{
    padding: 0;
  }
  .dropdown{
    a{
      color: #232323;
      font-weight: $semi-bold;
      font-family: $lat0;
    }
  }


  .dropdown-menu{
    border:none !important;
    top:21px !important;
    background-color:white;
    box-shadow: 0px 0px 26px 7px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0px 0px 26px 7px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 26px 7px rgba(0,0,0,0.31);

    padding: 0 ;
    width: 100%;
    min-width: 200px;
    a{
      border-bottom: 1px solid whitesmoke;
      padding:20px ;
      &:active,&:focus{
        background-color: $black;
        color: $white;
        i{
          color: $white;
        }
      }
    }
    a:last-child{
      border-bottom:none;
    }
    .fa{
      color: green;
      margin-right:14px;
    }
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid white;
      right: 15px;
      top: -11%;
    }
  }
}



.order-content-box{
  padding: 30px 0 165px 0;
}

.tab-content{
  .table td, .table th{
    border-color: #f5f5f5;
    padding: 20px 0;
    vertical-align: middle;
    &:hover{
      background-color: transparent;
    }

  }
  .table tbody tr:hover{
   background-color: transparent;
  }
  thead th {
    border: none !important;
  }
  .table:last-child{
    border-bottom:1px solid #f5f5f5;
  }
  .table tbody>tr>td:last-child{
    position: relative;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      background-image: url("#{$assetPath}/drag.png");
      background-position:right;
      background-repeat: no-repeat;
      background-size: auto;
      width: 20px;
      height: 25px;
      right: 30px;
    }
  }


  .btn-view-order{
    border:none;
    background-color: #eceff1;
    font-weight: $semi-bold;
    text-transform: uppercase;
    font-size: 12px;
    padding:10px 25px;
    font-family: $opensans;
    border-radius: 4px;
    outline: 0;
    box-shadow: none;
    color: $black;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
 tr{
    position: relative;

  }


  td p{
    margin-bottom:0px;
      font-family: $lat0;
    font-weight: $regular;
  }
  td.status{
    p{
      margin-bottom:0px;
      font-family: $opensans;
      font-weight: $semi-bold;
    }
   }
}
/* ==========================================================================
  >start .no-orders section
  ========================================================================== */
.no-orders{

}
.order-content-box{
  h6{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 18px 0px 31px 0px;
    letter-spacing: 3px;
  }

}
.no-orders {
  >ul>li:hover{
    .no-orders-content{
      ul{

        li>.hover-bold{
          font-weight: bold;
          font-family: $opensans;
          color:$black;
        }
      }
    }
  }
}

/* ==========================================================================
  >  start cart section
  ========================================================================== */
.cart-section{
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;
}
.woocommerce table.shop_table{
  border-radius: 0;
  border-color: #ebebeb;
}
.woocommerce table.shop_table td{
 border-top:none;
}
.woocommerce table.shop_table thead th{
  padding: 20px 0;
}
.woocommerce table.shop_table th{
  border-bottom:1px solid;
  font-size: 16px;
  font-family: $opensans;
  font-weight: $semi-bold;
  text-align: center;
  border-color: #ebebeb;
}
.woocommerce table.shop_table tbody>tr>td , .woocommerce table.shop_table thead>tr>th{
  vertical-align: middle;
  padding: 15px 30px;

}
.woocommerce-cart .wc-proceed-to-checkout, .woocommerce-checkout .wc-proceed-to-checkout, #add_payment_method .wc-proceed-to-checkout{
  padding: 0;
}
.woocommerce table.shop_table tbody>tr:first-child>td{
  padding-top: 30px;
}
.woocommerce table.shop_table tbody>tr>td{
  padding: 15px 30px;
}
.woocommerce table.shop_table tbody>tr:last-child>td{
  padding: 0 30px 30px 30px;

  hr {
    margin-right: 0;
    margin-bottom: 30px;
    border-color: #ebebeb;
  }
}
.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
  width: 100%;
}
.quantity{
  span{
    color: rgb(99, 99, 99);
  }
  /*
  .items-decrease{
 padding:0px 40px 0px 0px;
  }
  .items-increase{
    padding:0px 0px 0px 40px;
  }
   */
}
.product-name a{
  font-size: 16px;
  font-family: $opensans;
  font-weight: $semi-bold;
  text-transform: uppercase;
  color: rgb(99, 99, 99);
  line-height: 1.25;
}
.product-price,.product-quantity,.product-subtotal{
  font-size: 16px;
  font-family: $poppins;
  font-weight: $medium;
}
.wc-proceed-to-checkout{
  a{
      @include btn($black, $white, 16px, $opensans, $regular, auto, #ff3251, $light-green, $white, #FFEF44);
      @include padding(8px, 60px);

      border: none;
      font-weight: $bold;
  }
  .continue-shopping{
    @include btn($white, $black, 16px, $opensans, $regular, auto, #020808, $light-green, $white, #FFEF44);
    @include padding(8px, 45px);
    font-weight: $semi-bold;
  }
}
.shopping-cart-content{
  p{
    font-size: 14px;
    font-family: $opensans;
    text-transform: uppercase;
    color: rgb(99, 99, 99);
    line-height: 1.5;
    text-align: left;
    padding: 0px 0px 0px 100px;
    margin-bottom: 30px;
  }
  .order-total{
    font-weight: $semi-bold;
    color:$black;
  }
}
.woocommerce a.remove {
  border-radius:1px !important;
  color: black !important;
  text-decoration: none;
  border:1px solid #dfdfdf !important;
  width: 28px;
  height: 26px;
  line-height: 22px;
}

